requests
fastapi
fastapi-login
uvicorn
pymysql
sqlalchemy
aiofiles
python-multipart
wechatarticles
pydash
numpy
termcolor
lxml
scrapy
pyyaml
ua-parser
user-agents
slowapi
boto3
b2sdk
ruia[uvloop]
ruia_ua