{% extends 'base.html' %}

{% block title %}{{ data.album.title }}{% endblock %}

{% block metadata %}
<meta name="keywords" content="{{ data.keywords }}" />
<meta name="description" content="{{ data.album.description }}" />
<meta name="og:url" content="{{ data.url }}" />
<meta name="og:title" content="{{ data.album.title }}" />
<meta name="og:description" content="{{ data.album.description  }}" />
<meta name="og:image" content="{{data.cover }}" />
<meta name="twitter:url" content="{{data.url}}" />
<meta name="twitter:title" content="{{ data.album.title }}" />
<meta name="twitter:description" content="{{ data.album.description }}" />
<meta name="twitter:image" content="{{data.cover }}" />
<meta name="twitter:card" content="summary_large_image" />
{% endblock %}

{% block head %} 
<style>
.text-divider{margin: 2em 0; line-height: 0; text-align: center;}
.text-divider span{background-color: #fff; padding: 1em;}
.text-divider:before{ content: " "; display: block; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #f7f7f7;}
</style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="border border-success p-1 mb-2 text-center">
        <h1>{{data.album.digest}}</h1>
        <div>{{data.album.title}}</div>
        <div>{{data.album.description}}</div>
    </div>
    <div class=" mb-2">
        <small class="text-muted">
            <span>浏览:</span>
            <span>
                <script src="/plus/count/{{data.album.id}}" language="javascript"></script>
            </span>
            <span> / 日期:</span>
            <span>{{data.album.origin_created_at|date}}</span>
            <span> / 出镜:</span>
            <span>{{data.album.author}}</span>
        </small>
    </div>
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% if data.album.category %}
            <li class="breadcrumb-item">
                <a href="/" alt="首页" title="首页">首页</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/{{ data.album.category.name}}" alt="{{data.album.category.title}}" title="{{data.album.category.title}}">{{data.album.category.title}}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="{{data.album.digest}}">{{data.album.digest}}</li>
            {% endif %}
        </ol>
    </nav>

    {{ pagination_all('?page=', data.page) }}
        {% for image in data.images %}
        <img data-src="{{image.image_url}}" src="/static/images/loader.gif" class="img-fluid w-100 lazy mb-2" alt="{{data.album.title}}" referrerpolicy="no-referrer" />
        {% endfor %} 
    {{ pagination_all('?page=', data.page) }}


    <div class="row text-center">
        <h2 class="text-divider"><span>相关推荐</span></h2>
    </div>

    <div class="row row-cols-2 row-cols-md-5 g-4 my-3">

        {% for album in data.related %}
        <div class="col">
            <a class="card-link" href="/{{album.category.name}}/{{album.id}}" alt="{{album.title}}" title="{{album.title}}">
                <div class="card h-100">
                    <img class="card-img-top lazy" src="/static/images/loader.gif" data-src="{{album.cover}}" alt="{{album.title}}" referrerpolicy="no-referrer" />
                    <span class=" author position-absolute badge rounded-pill bg-secondary">
                        <object>
                            <a class="card-link" href="/search/?s={{album.author}}" alt="{{album.author}}" title="{{album.author}}">
                                {{album.author}}
                            </a>
                        </object>
                    </span>
                    <div class="card-title mx-1 my-1">
                        {{album.digest}}
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><i class="bi bi-calendar-date"></i> {{album.origin_created_at|date}}</small>
                        <small class="text-muted float-right"><i class="bi bi-eye"></i> {{album.view_count}}</small>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %} {% block bodyscript %}

<script>
    window.lazyLoadOptions = {
        threshold: 0,
    };
    window.addEventListener(
        "LazyLoad::Initialized",
        function (e) {
            console.log(e.detail.instance);
        },
        false
    );
</script>
{% endblock %}
